#### Explain List, Dictionary, and Tuple comprehension with an example.

In [1]:
# Create a list of squares of numbers from 0 to 9 using list comprehension
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Create a dictionary mapping each number to its square using dictionary comprehension
squares_dict = {f'key-{x}': x**2 for x in range(1, 6)}
print(squares_dict)

{'key-1': 1, 'key-2': 4, 'key-3': 9, 'key-4': 16, 'key-5': 25}

In [3]:
# Create a generator object containing squares of numbers from 0 to 9 using tuple comprehension
squares_gen = (x**2 for x in range(10))
print(tuple(squares_gen))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

#### What is monkey patching in Python?
######  Monkey patching in Python is a dynamic technique that can change the behavior of the code at run-time. 
###### In short, you can modify a class or module at run-time.

In [4]:
class monkey:
    def patch(self):
          print ("patch() is being called")

def monkey_p(self):
    print ("monkey_p() is being called")


monkey.patch = monkey_p

obj = monkey()

obj.patch()

monkey_p() is being called

#### What is the difference between merge, join and concatenate?

In [5]:
# merge
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})


merged_df = pd.merge(df1, df2, on='key', how='inner')
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [6]:
# join
import pandas as pd


df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},
                   index=['a', 'b', 'c'])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]},
                   index=['a', 'b', 'c'])


joined_df = df1.join(df2)
print(joined_df)

   A  B  C   D
a  1  4  7  10
b  2  5  8  11
c  3  6  9  12

In [7]:
# concatenate
import pandas as pd


df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})


concatenated_df = pd.concat([df1, df2])
print(concatenated_df)

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

#### How do you identify and deal with missing values?

In [8]:
import pandas as pd
import numpy as np


dict = {'id':[1, 4, np.nan, 9],
        'Age': [30, 45, np.nan, np.nan],
        'Score':[np.nan, 140, 180, 198]}


df = pd.DataFrame(dict)
df

    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  NaN   NaN  180.0
3  9.0   NaN  198.0

In [9]:
print(df.isnull().sum())

id       1
Age      2
Score    1
dtype: int64

In [10]:
df.dropna(axis = 0, how ='any')

    id   Age  Score
1  4.0  45.0  140.0

In [11]:
df.fillna(method ='bfill')

    id   Age  Score
0  1.0  30.0  140.0
1  4.0  45.0  140.0
2  9.0   NaN  180.0
3  9.0   NaN  198.0

In [12]:
df.replace(to_replace = np.nan, value = -999)

      id    Age  Score
0    1.0   30.0 -999.0
1    4.0   45.0  140.0
2 -999.0 -999.0  180.0
3    9.0 -999.0  198.0

In [13]:
df.interpolate(method ='linear', limit_direction ='forward')

    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  6.5  45.0  180.0
3  9.0  45.0  198.0

#### How can you replace string space with a given character in Python?

##### IL veMyM ther&MyC untry (given text)
##### ILoveMyMother&MyCountry (fill in the space with given character o)

In [14]:
def str_replace(text,ch):
    result = ''
    for i in text: 
            if i == ' ': 
                i = ch  
            result += i 
    return result

text = "IL veMyM ther&MyC untry"
ch = "o"

str_replace(text,ch)

'ILoveMyMother&MyCountry'

#### Given a positive integer num, write a function that returns True if num is a perfect square else False.

In [15]:
from math import sqrt

def square_test(number):
    sq = sqrt(number)
    if number % sq == 0:
        print('True')
    else:
        print('False')

num = [9, 16, 3, 17, 2, 4, 25]

for n in num:
    square_test(n)

True
True
False
False
False
True
True

In [16]:
def can_segment_str(s, dictionary):
    for i in range(1, len(s) + 1):
        first_str = s[0:i]
        if first_str in dictionary:
            second_str = s[i:]
            if (not second_str or second_str in dictionary or can_segment_str(second_str, dictionary)):
                return True
    return False


s = "datacamp"
dictionary = ["data", "camp", "cam", "lack"]
can_segment_str(s, dictionary)

True

#### Remove duplicates from sorted array

In [17]:
def remove_dupli(nums):
    if not nums:
        return -1
    init = 0
    for num in range(1, len(nums)):
        if nums[num] != nums[init]:
                init += 1
                nums[init] = nums[num]
    return init +1

nums =[1,2,2,3,5,5,6,6,7]
new =remove_dupli(nums)
print('new length:', new)
print('new set:', nums[:new])

new length: 6
new set: [1, 2, 3, 5, 6, 7]

#### Write a program to print the following pattern.
# *
# * *
# * * *
# * * * *
# * * * * *

In [18]:
def pattern(star):
    for i in range(1, star):
        for j in range(1,i + 1):
            print('*',end='     ')
        print('\n')
        
pattern(6)

*

*     *

*     *     *

*     *     *     *

*     *     *     *     *

##### PIP is an acronym for Python Installer Package

#### Reverse Using While Loop in Python

In [19]:
n = int(input('enter number: '))
print(f'before reverse the number is {n}')

reverse = 0

while n != 0:
    reverse = reverse*10 + n%10
    n = n//10
print(f'after reverse the number is {reverse}')

enter number: 4637282
before reverse the number is 4637282
after reverse the number is 2827364

#### Check Armstrong Using a While Loop

In [46]:
num = int(input('enter the number: '))

sum = 0
temp = num
count = len(str(num))

while temp != 0:
    digit = temp%10
    sum += digit**count
    temp //= 10
if num == sum:
    print(f'The number {sum} is Armstrong')
    
else:
    print(f'The number {num} is not Armstrong')

enter the number: 157
The number 157 is not Armstrong

# Given a dictionary consisting of many roots and a sentence, stem all the words in the sentence with the root forming it.

In [21]:
roots = ["cat", "bat", "rat"]
sentence = "the cattle was rattled by the battery"


def root_forming(roots, sentence):
    words = sentence.split(' ')
    for index, word in enumerate(words):
        for root in roots:
            if word.startswith(root):
                 words[index] = root
    return ' '.join(words)
root_forming(roots, sentence)

'the cat was rat by the bat'

# class

In [22]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount} into {self.owner}'s account. New balance: {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew {amount} from {self.owner}'s account. New balance: {self.balance}")
        else:
            print(f"Insufficient funds for {self.owner} to withdraw {amount}. Current balance: {self.balance}")

# Example usage
account1 = BankAccount("Alice", 100)
account1.deposit(50)
account1.withdraw(30)
account1.withdraw(150)

Deposited 50 into Alice's account. New balance: 150
Withdrew 30 from Alice's account. New balance: 120
Insufficient funds for Alice to withdraw 150. Current balance: 120

# use of yield

In [23]:
def fibonacci_generator():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

# Create a generator object
fib_gen = fibonacci_generator()

# Iterate over the generator to generate Fibonacci numbers
for i in range(10):
    print(next(fib_gen))

0
1
1
2
3
5
8
13
21
34

# multiple inheritances supported in Python

In [24]:
class addition:
    def add(self,a,b):
        return a + b
class multiplication:
    def multi(self,a,b):
        return a*b;
    
class derivation(addition, multiplication):
    def dirivate(self,a,b):
        return a//b;
    
d = derivation()
print(d.add(20,60))
print(d.multi(2,6))
print(d.dirivate(60,20))

80
12
3

# What does *args, **kwargs mean in Python?

In [25]:
def my_function(*args):
    for arg in args:
        print(arg)

my_function(1, 2, 3)  # Output: 1, 2, 3

1
2
3

In [26]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name='John', age=30, city='New York')  
# Output:
# name: John
# age: 30
# city: New York

name: John
age: 30
city: New York

In [27]:
def my_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(1, 2, 3, name='John', age=30)
# Output:
# 1
# 2
# 3
# name: John
# age: 30

1
2
3
name: John
age: 30

In [28]:
"dkac1961".isalnum() #Output: True (alphanumeric)

"qbaz#@12".isalnum() #Output: False

False

In [29]:
p,q =10,2
p,q = q,p
print(p,q)

2 10

In [30]:
import copy

# Original list
original_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Shallow copy
shallow_copied_list = copy.copy(original_list)

# Deep copy
deep_copied_list = copy.deepcopy(original_list)

# Modify the original list
original_list[0][0] = 100

# Output the three lists
print("Original List:", original_list)
print("Shallow Copied List:", shallow_copied_list)
print("Deep Copied List:", deep_copied_list)

Original List: [[100, 2, 3], [4, 5, 6], [7, 8, 9]]
Shallow Copied List: [[100, 2, 3], [4, 5, 6], [7, 8, 9]]
Deep Copied List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
try:
    if '1'!= 1:
        raise Exception('someError')
    else:
        print('Error has not occured')
except Exception as e:
    print(f'Error occur:', e)

Error occur: someError

In [32]:
import statistics

# List of numbers
numbers = [5, 7, 9, 4, 5, 5, 6, 6, 6, 7, 6]

# Calculate the mode
mode = statistics.median(numbers)

# Print the mode
print("Mode of the list:", mode)

Mode of the list: 6

# Write a code to add two integers without using the ‘+’ operator when the numbers are greater than zero.

In [33]:
def add_without_plus(a, b):
    while b != 0:
        carry = a & b
        a = a ^ b
        b = carry << 1
    return a

# Test the function
num1 = 10
num2 = 5
print("Sum of", num1, "and", num2, "is:", add_without_plus(num1, num2))

Sum of 10 and 5 is: 15

# Write a code that is given a sequence of numbers and it checks if the numbers are unique.

In [34]:
lst = [1,2,2,4,4,5]
len(set(lst))

4

# Write a program to convert the date format from yyyy-mm-dd to dd-mm-yyyy.

In [35]:
from datetime import datetime

def convert_date_format(date_str):
    # Parse the input date string
    date_obj = datetime.strptime(date_str, '%Y-%m-%d')
    
    # Format the date object in dd-mm-yyyy format
    formatted_date = date_obj.strftime('%d-%m-%Y')
    
    return formatted_date

# Example usage
date_str = '2022-03-15'
converted_date = convert_date_format(date_str)
print(converted_date)

15-03-2022

In [36]:
# Define a list of strings
my_list = ['Hello', 'world', 'from', 'Python']

# Concatenate the elements of the list into a single string
single_string = ' '.join(my_list)

# Print the result
print(single_string)

Hello world from Python

# Write a program to calculate the median in Python using the NumPy arrays.

In [37]:
import numpy as np

# Create a NumPy array
my_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Calculate the median
median_value = np.median(my_array)

# Print the result
print("Median:", median_value)

Median: 5.0

In [38]:
import numpy as np

# Create a NumPy array
my_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Calculate the median using the 50th percentile
median_value = np.percentile(my_array, 50)

# Print the result
print("Median:", median_value)

Median: 5.0

# bubble sort problem

In [39]:
def bubble_sort(arr):
    n = len(arr)
    
    # Traverse through all elements in the array
    for i in range(n):
        # Last i elements are already in place, so we don't need to check them
        for j in range(0, n-i-1):
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Test the bubble sort algorithm
arr = [64, 34, 25, 12, 22, 11]
print("Original array:", arr)

bubble_sort(arr)

print("Sorted array:", arr)

Original array: [64, 34, 25, 12, 22, 11]
Sorted array: [11, 12, 22, 25, 34, 64]

In [40]:
def arr11(arr):
    n= len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr
                
arr = [25,64, 34, 25, 12, 22, 11, 90]
s = arr11(arr)
s

[11, 12, 22, 25, 25, 34, 64, 90]

In [41]:
import math

# Define the coordinates of points P and Q
x1, y1 = 4, 5
x2, y2 = 3, 2

# Calculate the Euclidean distance
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Print the result
print("The Euclidean distance between points P(4, 5) and Q(3, 2) is:", distance)

The Euclidean distance between points P(4, 5) and Q(3, 2) is: 3.1622776601683795

In [42]:
import numpy as np

# Create arrays with shapes (10,) and (10,20)
x = np.random.rand(10)
y = np.random.rand(10, 20)

# Broadcasting statement
result = x[:, np.newaxis] + y

# Print the shapes of x, y, and the result
print("Shape of x:", x.shape)
print("Shape of y:", y.shape)
print("Shape of result:", result.shape)

Shape of x: (10,)
Shape of y: (10, 20)
Shape of result: (10, 20)

# Alice has some cards with numbers written on them. She arranges the cards in decreasing order, and lays them out face down in a sequence on a table. She challenges Bob to pick out the card containing a given number by turning over as few cards as possible. Write a function to help Bob locate the card.

In [43]:
# Sample array
arr = [5, 2, 9, 1, 7]

# Rearrange in descending order
arr.sort(reverse=True)  # For lists
# Or
arr = sorted(arr, reverse=True)  # For arrays

print(arr)

[9, 7, 5, 2, 1]

In [44]:
def test_location(cards, query, mid):
    if cards[mid] == query:
        if mid-1 >= 0 and cards[mid-1] == query:
            return 'left'
        else:
            return 'found'
    elif cards[mid] < query:
        return 'left'
    else:
        return 'right'

def locate_card(cards, query):
    lo, hi = 0, len(cards) - 1
    while lo <= hi:
        mid = (lo + hi) // 2
        result = test_location(cards, query, mid)
        if result == 'found':
            return mid
        elif result == 'left':
            hi = mid - 1
        elif result == 'right':
            lo = mid + 1
    return -1


locate_card(arr,2)

3

# calculate factorial

In [45]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

number = 5
result = factorial(number)
print("The factorial of", number, "is", result)

The factorial of 5 is 120